.App {
    width: 65%;
    height:85%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 20px;
}

.left_container {
    margin-right: 20px;
    flex:35%;
    height:100%;
    border:2px solid black;
    display:flex;
    flex-direction: column;
}

.right_container {
    flex:65%;
    height:100%;
    border:2px solid black;
}