.simple_city_data {
    display:flex;
    border-bottom: 1px solid lightgray;
}

.city_text {
    flex:90%;
    text-transform:none !important;
}

.city_text :hover {
    background-color: clear !important;
}