.textarea {
    padding:0px 0 5px 0 !important;
    margin: 5px 0 10px 0 !important;
}

.add_city_btn {
    border:none;
    background-color: white;
}

.add_city_btn:hover {
    cursor:pointer;
}

.hide_error {
    display:none;
}

.show_error {
    margin: 5px 0 5px 0;
    font-size:medium;
    text-align: center;
    color:red;
}

@media only screen and (min-width: 600px) {
    .searchBar_container {
        border-bottom: 2px solid black;
        margin:10px;
        display:flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .add_city_form {
        width:50%;
        display:flex;
        flex-direction: row;
    }

    .textarea {
        width:100%;
    }
}

@media only screen and (max-width: 599px) {
    .searchBar_container {
        border-bottom: 2px solid black;
        margin:10px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .add_city_form {
        width:100%;
        display:flex;
        flex-direction: row;
    }

    .textarea {
        width:100%;
    }
}