.searchBar_container {
    border-bottom: 2px solid black;
    margin:10px;
}

.add_city_form {
    display:flex;
    justify-content: flex-end;
}

.add_city_textarea {
    padding:0px 0 5px 0 !important;
    margin: 5px 0 10px 0 !important;
    width:85%;
}

.add_city_btn {
    border:none;
    background-color: white;
}

.add_city_btn:hover {
    cursor:pointer;
}

.hide_error {
    display:none;
}

.show_error {
    margin: 5px 0 5px 0;
    font-size:medium;
    text-align: center;
    color:red;
}