

.detailed_city {
    margin-bottom:3em;
}

.city_name {
    padding-left: 1.5em;
}

p {
    font-size:x-large;
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (min-width: 600px) {
    .daily_weather_data {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 599px) {
    .daily_weather_data {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .daily_info {
        margin-bottom: 2em;
    }
}