.daily_weather_data {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    clear:left;
    margin-left:38px;
}

.detailed_city {
    margin-bottom:3em;
}

.detailed_city_icon {
    float:left;
    height: 200px;
}

.refresh {
    float:right;
}

.city_name {
    padding-left: 1.5em;
}

p {
    font-size:x-large;
    font-family: 'Times New Roman', Times, serif;
}